# Dependencies
/node_modules
/backend/venv

# Compiled Python files
__pycache__/
*.pyc

# IDE specific files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Environment configuration files
.env

# Build outputs
/frontend/build

# Package lock files (uncomment the following line if you decide to exclude them)
package-lock.json
yarn.lock
